/* Styling for the empty cart container */
.empty_cart {
  margin-top: 50px; /* Add margin at the top to push the section down */
  width: 100%; /* Make the container take up the full width of its parent */
}

/* Styling for the paragraph inside the empty cart */
.empty_cart p {
  font-size: 20px; /* Set the font size to 20px */
  font-weight: bold; /* Make the text bold */
}

/* Styling for the button inside the empty cart */
.empty_cart button {
  width: 200px; /* Set the button width to 200px */
  cursor: pointer; /* Change the cursor to a pointer when hovering over the button */
  padding: 10px; /* Add padding inside the button */
  color: #ffff; /* Set the text color to white */
  background-color: #08a742; /* Set the background color to green */
  border-radius: 5px; /* Round the corners of the button */
  font-size: 20px; /* Set the font size to 20px */
  font-weight: bold; /* Make the text bold */
  border: 0; /* Remove the default border */
}

/* Styling for the checkout button */
.checkout-btn {
  background-color: #ff8c00; /* Set the background color to orange */
  color: white; /* Set the text color to white */
  font-size: 18px; /* Set the font size to 18px */
  font-weight: bold; /* Make the text bold */
  padding: 15px 30px; /* Add padding with 15px on top and bottom, 30px on left and right */
  border: none; /* Remove the default border */
  margin: auto; /* Center the button horizontally */
  border-radius: 50px; /* Round the button corners to create a pill shape */
  cursor: pointer; /* Change the cursor to a pointer when hovering */
  transition: background-color 0.3s, transform 0.2s ease-in-out,
    box-shadow 0.3s ease-in-out; /* Add transition effects for background color, scaling, and shadow */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow effect around the button */
  width: 200px; /* Set the button width to 200px */
  margin-top: 20px; /* Add top margin to the button */
  display: flex; /* Use flexbox to align the content */
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  text-align: center; /* Center the text inside the button */
}

/* Hover effect for the checkout button */
.checkout-btn:hover {
  background-color: #ff7f00; /* Change the background color to a darker orange on hover */
  transform: scale(1.05); /* Slight zoom effect on hover */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Add a more prominent shadow on hover */
}

/* Focus effect for the checkout button */
.checkout-btn:focus {
  outline: none; /* Remove the outline when the button is focused */
}
